.array-container {
    left: 100px;
    top: 100px;
}

.array-bar {
    display: inline-block;
    margin: 0 1px;
    vertical-align: top;
}

Button {
    margin: 5px;

}

Button:hover {
    color: aqua;
}

.spanHeight {
    color: #09d3ac;
    visibility: visible;
}

.sortingAlg {
    color: #282c34;
    background-color: #09d3ac;
    border-color: #09d3ac;
}

.sortingAlg:hover {
    color: black;
    background-color: aqua;
    border-color: aqua;
}

.sortingAlg:focus {
    color: black;
    background-color: aqua;
    border-color: aqua;
}

.sortingAlg:active {
    color: black;
    background-color: aqua;
    border-color: aqua;
}

.newArray {
    color: #282c34;
    background-color: aqua;
    border-color: aqua;
}


.newArray:hover {
    color: black;
    background-color: #09d3ac;
    border-color: #09d3ac;
}

.newArray:focus {
    background-color: #09d3ac;
    border-color: #09d3ac;
}

.newArray:active {
    background-color: #09d3ac;
    border-color: #09d3ac;
}

.array-container {
    width: 100%;
    height: 100%;
    background: aliceblue;
}

.array-bar-wrapper {
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}
